/*.ncb
/*.suo
/ipch
/Debug
/Release
/RenderDX9/Debug
/RenderDX9/Release
/RenderOpenGL/Debug
/RenderOpenGL/Release
/RenderVfw/Debug
/RenderVfw/Release
/RenderSDL/Debug
/RenderSDL/Release
/RenderSDL/SDL2
*.user
/*.sdf
/*.opensdf
